<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/SQA-Batch 15/PageObjectPageFactory/src/test/java/com/juaracoding/LoginTest.java"><classes><class name="com.juaracoding.LoginTest"><methods><include name="testLoginValid"/><include name="testLoginInvalid"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="D:/SQA-Batch 15/PageObjectPageFactory/src/test/java/com/juaracoding/CartTest.java"><classes><class name="com.juaracoding.CartTest"><methods><include name="testAddProductToCart"/></methods></class></classes></test></suite>